<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <title>Answer</title>
</head>
<body onload="func()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">QnA</a>
          <% if (username) { %>
              <h6><%= username %></h6>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                Answer a Question
              </button>
              <a href="/getBookmark" class="btn btn-primary">Your BookMarks</a>
              <a href="/logout" class="btn btn-primary">Logout</a>
              
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#qr-code">
                <ion-icon name="qr-code-outline" size="small"></ion-icon>
              </button>
              
              <% } else {%>
            <a class="btn btn-primary" href="/loginPage">Login</a>
            <% } %>
        </div>
    </nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">
               Post an Answer 
              <span>
                <ion-icon name="pencil-outline"></ion-icon>
              </span>
              !
            </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form method="POST" action="/answerQuestion/<%= questionid%>">
              <div class="form-group">
                <label for="message-text" class="col-form-label"><strong>Enter your Answer here!</strong></label>
                <textarea class="form-control" id="answer" row="5" name="answer" ></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="post-btn">Post</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    

<!-- Modal -->
<div class="modal fade" id="qr-code" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><ion-icon name="qr-code-outline" size="large"></ion-icon> QR Code</ion-icon></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center" id="qr-display">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



    <% question.forEach(function(question){ %>
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-end">
                    <strong>Asked by : <%= question.askedbyusername%>  </strong>
                </div>
              <strong><%= question.title%></strong>
                <p><%= question.question%></p>
            </div>
          </div>
      <% }); %>
              <!-- Example split danger button -->

      <div class="d-flex justify-content-end" style="margin-right: 7%;margin-top: 2%;">
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Sort by</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <% question.forEach(function(question){ %>
            <a class="dropdown-item" href="/sortByDate/<%= question._id %>">Date</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/sortByMostVotes/<%= question._id %>">Vote</a>
            <% }); %>
          </div>
        </div>

      </div>
      <div class="d-flex justify-content-center">
        <strong> Answer  </strong>
    </div>

    <% if (answerflag) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Sorry! </strong> <%= answerflag %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <% } else { %>
    <% answer.forEach(function(answer){ %>
      <div class="card">
        <div class="card-body">
        <div class="d-flex justify-content-end">
          <a href="/vote/<%= answer._id %>-<%= answer.question_id%>">
            <ion-icon name="caret-up-outline" size="large" id="upvote"></ion-icon>
            <span><h5><%= answer.votes %></h5></span>
          </a>
        </div>
          <div class="card-header">
              <p id="ans"><%= answer.answer%></p>
          </div>
        </div>
      </div>
    <% }); %>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/script.js"></script>
  </body>

</html>